* {
  box-sizing: border-box;
}

body {
  /* background: rgb(236, 241, 210); */
  padding: 80px 0 0 0;
  position: relative;

  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  height: 100vh;
}

body, input, button {
  font-family: 'Quicksand', sans-serif;
}

.noFill {
  fill: none;
}

.todos {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #444;
}

.todos h1{
  font-size: 40px;
}

.contain{
  width: 60%;
  position: relative;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
 
  box-shadow: 0px 6px 8px rgba(44, 62, 80, 0.15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header {
  background: rgb(204, 125, 99);
  width: 100%;
  height: 155px;
  position: absolute;
  padding: 15px;
  top: 0px;
  z-index: 5;

  box-shadow: 0px 6px 8px rgba(44, 62, 80, 0.15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header input, header select {
  width: 100%;
  height: 35px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  margin-bottom: 10px;
  background: rgba(204, 255, 255, 0.2); 
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input.date, header select {
  border-radius: 5px;
}

select option {
  margin: 40px;
  background: rgb(204, 125, 99);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

header button {
  width: 35px;
  height: 35px;
  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: rgb(190, 95, 63);
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header button svg {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -8px 0 0 -8px;
}

header button svg .fill {
  fill: #fff;
}

.info{
  width: 100%;
  height: 30px;
  position: absolute;
  top: 155px;
  padding: 5px;
  background: rgba(225, 231, 189, 0.466);
}

.info .todo-count {
  position: absolute;
  left:5px;
  bottom: 0px;
  color: #444;
  font-size: 14px;
}

.info .complete-count{
  position: absolute;
  left:92px;
  bottom: 0px;
  color: #444;
  font-size: 14px;
}

.info .btn{
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: pointer;
  color: #444;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

.info .btn:hover{
  text-decoration: underline;
}

.main {
  width: 100%;
  position: absolute;
  top: 185px;
  left: 0%;
}

ul.todo {
  width: 100%;
  float: left;
  list-style: none;
  list-style-position: inside;
  padding: 0px;
  margin: 0px;
}

ul.todo li {
  width: 100%;
  min-height: 20px;
  float: left;
  font-size: 16px;
  font-weight: 500;
  color: #e0e4e6;
  line-height: 15px;
  border-bottom:1px solid #e0e4e6;
  background: rgb(204, 125, 99);
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  padding: 14px 100px 14px 14px;
  word-break: break-word;
}

ul.todo li .deadline, ul.todo li .deadlineText {
  color: #444;
  font-size: 12px;
}

ul.todo li div{
  width: 70px;
  height: 18px;
  text-align: center;
  color:white;
  margin-top: 5px;
  border-radius: 10px;
  display: inline-block;
}

.green {
  background-color:#2ac56c;
}

.red {
  background-color:rgb(255, 102, 102);;
}

.yellow {
  background-color:#f19f0f;
}


ul.todo li .buttons {
  width: 100px;
  height: 40px;

  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button {
  width: 40px;
  height: 40px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 20px;
  background: #edf0f1;
  position: absolute;
  top: 10px;
  left: 0;
}

ul.todo li .buttons button svg {
  width: 26px;
  height: 26px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
  border-radius: 25px;
  border: 1.5px solid rgb(32, 148, 123);
  transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
  background: rgb(32, 148, 123);
  border: 0px;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background: rgba(32, 148, 123, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill {
  fill: #fff;
}

ul.todo li .buttons button svg .fill {
  transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
  fill: rgb(145, 67, 41);;
}

ul.todo li .buttons button.remove:hover svg .fill {
  fill: rgb(190, 95, 63);
}

ul.todo li .buttons button.complete svg .fill {
  fill: rgb(32, 148, 123);
}

ul.todo#completed {
  position: relative;
  padding: 60px 0 0 0;
}

ul.todo#completed:before {
  content: '';
  width: 150px;
  height: 1px;
  background: #d8e5e0;

  position: absolute;
  top: 30px;
  left: 50%;

  margin: 0 0 0 -75px;
}

ul.todo#completed:empty:after {
  content: 'You have yet to complete any tasks.';
}

ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 13px;
  color: rgb(136, 136, 136);
}